#columns,
#primary,
#secondary {
    max-width: 100vw !important;
    max-height: 100vh !important;
    padding: 0px !important;
    margin: 0px !important;
}

#secondary.ytd-watch-flexy {
    width: calc((var(--ytd-watch-flexy-masthead-height) + var(--ytd-watch-flexy-space-below-player)) * (var(--ytd-watch-flexy-width-ratio) / var(--ytd-watch-flexy-height-ratio))) !important;
}

#info-contents > ytd-video-primary-info-renderer {
    padding: 0px;
}

/* Delete tag area */
/* #container > yt-formatted-string {
    display: none !important;
} */

/* Popup */
ytd-watch-flexy[flexy] #player-container-inner.ytd-watch-flexy {
    padding-top: calc(var(--ytd-watch-flexy-max-player-height) - var(--ytd-margin-14x)) !important;
}

/* Player area */
ytd-watch-flexy[flexy]:not([theater]):not([fullscreen]) {
    /*     --ytd-watch-flexy-width-ratio: 16;
    --ytd-watch-flexy-height-ratio: 9; */
    --ytd-watch-flexy-non-player-height: calc( var(--ytd-watch-flexy-masthead-height) + var(--ytd-margin-6x) + var(--ytd-watch-flexy-space-below-player));
    --ytd-watch-flexy-non-player-width: calc( var(--ytd-watch-flexy-sidebar-width) + (3 * var(--ytd-margin-6x)));
    --ytd-watch-flexy-min-player-width: calc( 100% - var(--ytd-watch-flexy-sidebar-width)) !important;
    --ytd-watch-flexy-min-player-height: calc( var(--ytd-watch-flexy-min-player-width) * (var(--ytd-watch-flexy-height-ratio) / var(--ytd-watch-flexy-width-ratio))) !important;
    --ytd-watch-flexy-max-player-height: calc(100vh);
    --ytd-watch-flexy-max-player-width: calc( 100vw);
}

/* Player height */
ytd-player, #container.ytd-player {
    display: block;
    width: 100%;
    height: calc(var(--ytd-watch-flexy-max-player-height) - var(--ytd-margin-14x)) !important;
}

ytd-watch-flexy[flexy] #player-container-outer.ytd-watch-flexy {
    min-height: calc(var(--ytd-watch-flexy-max-player-height) - var(--ytd-margin-14x));
}

.html5-video-container,
.video-stream,
.ytp-iv-video-content {
    width: 100% !important;
    height: calc(var(--ytd-watch-flexy-max-player-height) - var(--ytd-margin-14x)) !important;
}

/* Chat space */
#chat.ytd-watch-flexy {
    height: calc(var(--ytd-watch-flexy-max-player-height) - var(--ytd-margin-14x)) !important;
}

.ytp-chrome-bottom .ytp-right-controls {
    position: relative;
    right: 0px;
}

#movie_player > div.ytp-chrome-bottom {
    left: 0px !important;
    width: 100% !important;
}

#movie_player > div.ytp-tooltip,
#movie_player > div.ytp-bottom {
    top: 700px;
}

/* seekbar */
#movie_player > div.ytp-chrome-bottom > div.ytp-progress-bar-container > div.ytp-progress-bar > div.ytp-chapters-container > div {
    position: relative;
    left: 0;
    width: 100% !important;
}
